@import "../variables";

.spamFilterContainer {
  padding-top: $navbar-height;
  margin: 0 auto;
  background-color: $vingle_gray;

  .formContainer {
    margin: 50px auto 50px auto;
    max-width: $container_width;
    background-color: #fff;
    border: 1px solid $vingle_gray3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-top: 20px;
      font-weight: 500;
      font-size: 30px;
      color: $vingle_black;
    }

    .description {
      margin-top: 5px;
    }

    .submitButton {
      display: flex;
      width: 330px;
      height: 40px;
      border-radius: 2.4px;
      background-color: $vingle_gray;
      color: $vingle_black;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 2.5px;
      text-align: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
